$primary-color: #272727;
$secondary-color: #ff652f;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, rgba($primary-color, 0.9), rgba($primary-color, 0.3)), url("../img/model-1.jpg") top/cover no-repeat;

    height: 100vh;
    width: 100vw;

    color: white;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;

    overflow-x: hidden;
}

h1, h2, h3 {
    font-weight: 400;
}

a {
    color: white;
    text-decoration: none;
}

@mixin page-head {
    .page-header {
        width: 70%;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        padding: 10em 0;

        .page-title {
            color: $secondary-color;
            font-size: 3rem;
            letter-spacing: 1rem;
            // margin-bottom: 1.125em;
        }
        .page-text {
            // font-size: 1.3rem;
            margin-top: 2em;
            line-height: 1.2;
        }
    }
}


@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

// Function to set text color
@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return black;
    }
    @else {
        @return white;
    }
}



// Media query mixins
@mixin display-md {
    @media screen and (min-width: 768px) {
        @content;
    }    
}

@mixin display-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }    
}

@mixin display-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }    
}