@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("images/jurrasic-bg.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  text-align: center;
  color: white;
  font-family: Poppins;
  align-items: center;
  position: relative;
}

.logo {
  /* background: yellow; */
  /* height: 20%; */
  /* display:flex; */
  /* justify-content: center; */
  /* position: absolute; */
  
}

.logo-img {
  width: 150px;
}

.hero {
  /* height: 0; */
  /* text-align: center; */
  text-transform: uppercase;
  /* background: red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 0.6em;
}